body {
    font-family: Helvetica;
    scroll-behavior: smooth;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
.bg-aliceblue {
    background-color: #f1f3ff;
}
.bg-button {
    background-color: #5cb85f;
}
.bg-primary-darkblue {
    background-color: #0d28a6;
}






